<!DOCTYPE html>
<html>
<style>
.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.success {
  color: blue;
}

.success:hover {
  background-color: lightblue;
  color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #cce0ff;
}
</style>


<body>
  <h1>Broadway Online Shopping</h1>

  <h2>This is {{un}}'s Favorite</h2>

<table>
  <tr>
    <th>Product Id</th>
    <th>Product Name</th>
    <th>Add Date</th>
    <th>Remove From Favorite</th>
  </tr>
  <tc>
    {% for result in all_fav %}
                <tr>
                    <td>{{ result[0] }}</td>
                    <td>{{ result[1] }}</td>
                    <td>{{ result[2] }}</td>
                    <td><a href="/remove?remove_pid={{result[0]}}&username={{un}}"> Remove </a></td>
                </tr>
    {% endfor %}
  </tc>
</table>

<a href="/backtomain?un={{un}}"><button class="btn success">Back to Main Page</button></a>

</body>


</html>