<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
{% if session['logged_in'] %}
 
You're logged in already!
 
{% else %}

<div class="app-title">
<h1>Broadway Online Shopping</h1>
</div>
 
<form action="/user_login" method="POST">
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>User Login</h1>
</div>
<div class="login-form">
<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="email" name="email">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
 
</div>


</div>
</div>
</form>


<form action="/seller_login" method="POST">
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Seller Login</h1>
</div>
<div class="login-form">
<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="email" name="email">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
 
</div>


</div>
</div>
</form>


<form method="POST" action="/visitor_login">
<input type="submit" value="No Account? Visit as a Visitor" class="btn btn-primary btn-large btn-block">
</form>{% endif %}
{% endblock %}