<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Broadway Online Shopping</h1>

<p><a href="/login2">Log In</a ></p >


<form method="POST" action="/searchProduct">
<p>Search for Product: <input type="text" name="product"> <input type="submit" value="Search"></p >
</form>


<form method="POST" action="/searchSeller">
<p>Search for Seller: <input type="text" name="seller"> <input type="submit" value="Search"></p >
</form>



</body>


</html>
